{{#paper-item}}
    {{#paper-form onSubmit=(action _sendChat chatMessage) as |form|}}
        {{form.input label=(t "sendChat") value=chatMessage onChange=(action (mut chatMessage)) passThru=(hash autocomplete="off")}}

        {{#form.submit-button raised=true primary=true fab=true}}
            {{paper-icon "send" size=24}}
        {{/form.submit-button}}
    {{/paper-form}}
{{/paper-item}}

{{#paper-list class="messages-list"}}
    {{#each messages as |message|}}
        {{#paper-item class="md-2-line message"}}
            <div class="md-list-item-text">
                <h3>{{message.sender}}</h3>
                <p>{{message.text}}</p>
            </div>
        {{/paper-item}}

        {{paper-divider}}
    {{/each}}
{{/paper-list}}
