<div class="flex layout-column play-view">
    {{#paper-sidenav-container class="inner-sidenav flex"}}
        {{#paper-sidenav class="md-whiteframe-z2" name="left" lockedOpen=true}}
            {{#paper-list class="team-score-list"}}
                {{team-score
                  game=game
                  score=game.nsScore
                  firstPosition="north"
                  secondPosition="south"}}

                {{team-score
                  game=game
                  score=game.ewScore
                  firstPosition="east"
                  secondPosition="west"}}
            {{/paper-list}}

            {{#paper-item class="messages-header"}}
                <h2>
                    {{paper-icon "chat" size=32}}
                    {{t "messages"}}
                </h2>
            {{/paper-item}}

            {{chat-pane messages=messagesRecentFirst sendChat=(action sendChat)}}
        {{/paper-sidenav}}

        {{#paper-card-content class="flex play-content"}}
            {{game-board game=game currentUser=user bid=(action bid) play=(action play)}}
        {{/paper-card-content}}
    {{/paper-sidenav-container}}
</div>
