{{#if player}}
    <strong class={{if (eq position game.activePlayer) "active-player"}}>{{player.name}}</strong>
{{else}}
    <em class="player-placeholder">{{position}}</em>
{{/if}}

{{#if bid}}
    <span class="player-bid {{game.trump}} {{if playerWonBid "winning-bid"}}">{{bid}}</span>
{{/if}}
