<div class="layout-column layout-align-center">
    <div class="layout-row layout-align-center">
        {{#paper-button raised=true primary=true onClick=(action startGame)}}
            {{t "start"}}
        {{/paper-button}}
    </div>

    <div class="layout-row layout-align-center">
        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "partner"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}
    </div>

    <div class="layout-row layout-align-center">
        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "leftOpponent"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}

        {{#paper-card class="flex-25" as |card|}}
            {{#card.title as |title|}}
                {{#title.text as |text|}}
                    {{#text.headline}}
                        {{t "rightOpponent"}}
                    {{/text.headline}}
                {{/title.text}}
            {{/card.title}}
        {{/paper-card}}
    </div>

    <div class="layout-row layout-align-center">
        {{#paper-card class="flex-50" as |card|}}
            {{#paper-toolbar}}
                {{#paper-toolbar-tools}}
                    <h2>{{t "availableAgents"}}</h2>
                {{/paper-toolbar-tools}}
            {{/paper-toolbar}}

            {{#card.content}}
                {{#paper-list}}
                    {{#each agents as |agent|}}
                        {{#paper-item}}
                            {{agent.name}}
                        {{/paper-item}}
                    {{/each}}
                {{/paper-list}}
            {{/card.content}}
        {{/paper-card}}
    </div>
</div>
