<div class="flex layout-row top-game-board-row">
    <div class="player-hand-vertical">
        {{player-hand user=leftOpponent cards=leftOpponentHand currentBid=leftOpponentBid}}
    </div>

    <div class="flex layout-column layout-align-center middle-column">
        <div class="player-hand-horizontal">
            {{player-hand user=partner cards=partnerHand currentBid=partnerBid}}
        </div>

        <div class="play-surface">
            <div class="play-area horizontal partner"></div>
            <div class="play-area opponents">
                <div class="play-area horizontal"></div>
                <div class="play-area horizontal"></div>
            </div>
            <div class="play-area horizontal self">
                {{#if (and isBidPhase isMyBid)}}
                    <div class="bid-buttons">
                        {{paper-button raised=true label=(t 'bids.pass') onClick=(action bid 0)}}
                        {{paper-button raised=true label=(t 'bids.one') onClick=(action bid 1)}}
                        {{paper-button raised=true label=(t 'bids.two') onClick=(action bid 2)}}
                        {{paper-button raised=true label=(t 'bids.three') onClick=(action bid 3)}}
                        {{paper-button raised=true label=(t 'bids.four') onClick=(action bid 4)}}
                        {{paper-button raised=true label=(t 'bids.cinch') onClick=(action bid 5)}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="player-hand-vertical">
        {{player-hand user=rightOpponent cards=rightOpponentHand currentBid=rightOpponentBid}}
    </div>
</div>

<div class="player-hand-horizontal player-hand-self">
    {{player-hand user=self cards=selfHand currentBid=selfBid cardAction=(action play)}}
</div>
