<div class="flex layout-row top-game-board-row">
    <div class="player-hand-vertical">
        {{player-hand game=game position=leftOpponentPosition}}
    </div>

    <div class="flex layout-column layout-align-center middle-column">
        <div class="player-hand-horizontal">
            {{player-hand game=game position=partnerPosition}}
        </div>

        <div class="play-surface {{if isGameOver "game-over"}}">
            {{#if (and isBidPhase isMyBid)}}
                <div class="bid-buttons">
                    {{paper-button raised=true label=(t 'bids.pass') onClick=(action bid 0)}}
                    {{paper-button raised=true label=(t 'bids.one') onClick=(action bid 1)}}
                    {{paper-button raised=true label=(t 'bids.two') onClick=(action bid 2)}}
                    {{paper-button raised=true label=(t 'bids.three') onClick=(action bid 3)}}
                    {{paper-button raised=true label=(t 'bids.four') onClick=(action bid 4)}}
                    {{paper-button raised=true label=(t 'bids.cinch') onClick=(action bid 5)}}
                </div>
            {{else if (and isGameOver winningPositions)}}
                <h2 class="game-over-banner">Game Over</h2>
                <h3 class="winning-team-banner">Winning Team</h3>
                {{team-score
                  game=game
                  score=winningScore
                  firstPosition=winningPositions.firstObject
                  secondPosition=winningPositions.lastObject}}
            {{else}}
                <div class="play-area left">
                    {{#if leftOpponentCard}}
                        {{card-image card=leftOpponentCard cssClass='horizontal'}}
                    {{/if}}
                </div>

                <div class="play-area center">
                    <div class="play-area partner">
                        {{#if partnerCard}}
                            {{card-image card=partnerCard}}
                        {{/if}}
                    </div>

                    <div class="play-area self">
                        {{#if selfCard}}
                            {{card-image card=selfCard}}
                        {{/if}}
                    </div>
                </div>

                <div class="play-area right">
                    {{#if rightOpponentCard}}
                        {{card-image card=rightOpponentCard cssClass='horizontal'}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>

    <div class="player-hand-vertical">
        {{player-hand game=game position=rightOpponentPosition}}
    </div>
</div>

<div class="player-hand-horizontal player-hand-self">
    {{player-hand game=game position=selfPosition cardAction=(action play)}}
</div>
